# Terraform
**/.terraform/
**/terraform.tfstate*
*.tfvars
*.tfvars.json

# Kubernetes / kubeconfig
terraform/kube/*
!terraform/kube/.gitkeep
**/k3s.yaml
**/kube/*.yaml
**/kube/*.yml

# Keys / secrets
*.pem
*.key
id_rsa*
.env
.idea/
*.iml
kubectl
bin/
