# AWS
.aws/
# Local secrets / env
env/*.tfvars
env/*.tfvars.json
*.zip
# Local kubeconfig
terraform/kube/*.yaml
terraform/kube/*.yml
**/k3s.yaml
**/kube/*.yaml
**/kube/*.yml


# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars

# Logs
*.log

# OS / IDE
.DS_Store
.idea/
.vscode/
# binaries / artifacts
kubectl
*.zip
