# Terraform
kube/*.yaml
aws-root/kube/*.yaml
.terraform/
.terraform.lock.hcl
*.tfvars
kube_config_*.yaml
.env
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Variables (keep examples)
terraform.tfvars
**/terraform.tfvars
!**/*.tfvars.example
!terraform.tfvars.example

# Keys / certs
*.pem
*.key
*.pfx

# Editor / OS
.DS_Store
.idea/
.vscode/
