# Path to the kubeconfig fetched from the EC2 instance (see aws output fetch_kubeconfig_command)
kubeconfig_path = "../aws/k3s.yaml"

# Hostname used by Rancher (e.g. rancher.<EIP>.nip.io)
rancher_hostname = "rancher.X.X.X.X.nip.io"

# Optional versions
# rancher_version = "v2.13.2"

# ClusterIssuer already created by platform-issuer-root
rancher_tls_cluster_issuer_name = "letsencrypt-production"

# The full downstream join flow should use trusted TLS
rancher_bootstrap_insecure = false
